@model CurriculumVitaeApp.Models.FormacionAcademica

@{
    ViewData["Title"] = "Create";
}

<h1>Crear antecedente académico</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" id="formCrear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoInstitucionID" class="control-label"></label>
                <select asp-for="TipoInstitucionID" class ="form-control" asp-items="ViewBag.TipoInstitucionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="NombreInstitucion" class="control-label"></label>
                <input asp-for="NombreInstitucion" class="form-control" required/>
                <span asp-validation-for="NombreInstitucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera" class="control-label"></label>
                <input asp-for="Carrera" class="form-control" required/>
                <span asp-validation-for="Carrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhoInicio" class="control-label"></label>
                <input asp-for="AnhoInicio" class="form-control" required/>
                <span asp-validation-for="AnhoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhoTermino" class="control-label"></label>
                <input asp-for="AnhoTermino" class="form-control" />
                <span asp-validation-for="AnhoTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea textarea type="text" asp-for="Descripcion" class="form-control" required></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="confirmarCreacion(event)" value="Crear" class="btn btn-success btn-sm" />
                <input type="hidden" name="submitButton" id="submitButtonHidden" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmarCreacion(event) {
            event.preventDefault();

            var form = $("#formCrear");

            if (!form.valid()) {
                return;
            }

            Swal.fire({
                icon: 'success',
                title: 'Registro creado',
                text: 'El registro se ha creado con éxito.',
                confirmButtonColor: '#005D8F',
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then(() => {
                document.getElementById('submitButtonHidden').value = 'crear';
                document.getElementById('formCrear').submit();
            });
        }
    </script>
}
