@model CurriculumVitaeApp.Models.Usuario

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CurriculumVitaeApp.styles.css" asp-append-version="true" />
</head>

@{
    Layout = null;
    ViewData["Title"] = "Create";
}

<h1>Crear usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" type="email" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PasswordRepetido" class="control-label">Repita el password</label>
                <input name="PasswordRepetido" id="repetir" for="PasswordRepetido" type="password" class="form-control" />
                <span for="PasswordRepetido" class="text-danger"></span>
            </div>
            @if (ViewBag.Mensaje != null)
            {
                <p class="text-danger">@ViewBag.Mensaje</p>
            }
            <div class="form-group">
                <input type="submit" onclick="confirmarCreacion(event)" value="Crear" class="btn btn-success btn-sm" />
                <input type="hidden" name="submitButton" id="submitButtonHidden" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Volver a Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (TempData["Creado"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Usuario creado',
                text: 'El usuario se ha creado con éxito.',
                confirmButtonColor: '#005D8F',
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then(() => {
                // ✅ Redirige automáticamente al login
                window.location.href = '@Url.Action("Login", "Usuarios")';
            });
        </script>
    }
}

