@model IEnumerable<CurriculumVitaeApp.Models.Habilidad>

@{
    ViewData["Title"] = "SelectorHabilidad";
    Layout = "_LayoutPublic";
}

<h1>Habilidades blandas</h1>

<!-- Contador de seleccionados -->
<div id="selection-counter" class="selection-counter badge bg-info" style="margin-bottom: 10px;">
    Seleccionados: <span class="selected-count">0</span> / <span class="total-count">@Model.Count()
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                <input type="checkbox" class="select-all" title="Seleccionar todos" />
                <label for="select-all" style="cursor: pointer; margin-left: 5px;">Seleccionar todos
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="item-row" data-id="@item.Id" data-tipo="Habilidades">
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <input type="checkbox" name="seleccionados" class="chk-item"/>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Agrega jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/vistas-parciales-curriculum.js"></script>
}

<link rel="stylesheet" href="~/css/vistas-parciales-curriculum.css" />